#navbarNav {
    background-color: #1cabb0;
}

.navbar,
.navbar-expand-lg{
	padding:0px;
	margin-bottom:0px;
}

.card {
    background-color:#f4f7f0;
}

a:hover {
    background-color: #188a8e;
    text-decoration: underline;
}

body {
    background-color: #1cabb0;
}

.footer {
   background-color: #1cabb0;
   text-align: center;
}

/*Handling the module status*/
/*Sian*/
.status {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.status.complete {
  background-color: #4CAF50;
  color: white;
}

.status.in-progress {
  background-color: #FFC107;
  color: black;
}

.status.incomplete {
  background-color: #F44336;
  color: white;
}

/*This deals with the Employer dashboard: employee list for assignment*/
/*Sian*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); /*to make it look like a pop-up*/
}

.modal-content {
  background: white;
  width: 400px;
  margin: 10% auto;
  padding: 25px;
  border-radius: 8px;
}

.employee-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.employee {
  display: flex;
  gap: 10px;
  font-size: 16px;
}

#assignBtn {
  padding: 10px 20px;
  background: #1cabb0;
  color: white;
  border: none;
  cursor: pointer;
}