.imgFirstAid{
  display: block;
  margin: auto;
  border-radius: 8px solid;
  width: 200px;
  height: 200px;

}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; /*fonts for the browser to try*/
    background-color: #1cabb0;
}
.title{
  text-align: center;
}
h1{
  animation: flash 2s infinite;
}