.imgFirstAid{
  display: block;
  margin: auto;
  border-radius: 8px solid;
  width: 400px;
  height: 400px;

}
body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; /*fonts for the browser to try*/
    text-align: center;
}
.timer{
  font-size: 2em;
  background-color: aquamarine;
  padding: 20px 40px;
  border-radius: 10px;
}
.title{
  margin: auto;
  margin-top: 2em;
  padding: 40px;
  background-color: azure;
  text-align: center;
  width: 60%;
}
.startBTn{
  background-color: white;
  font-size: 1em;
  display: center;
  font-family: sans-serif;
  margin-top: 25px;
  padding: 10px 15px;
}
.intro{
  background-color: azure;
  width: 60%;
  margin: auto;
  margin-top: 2em;
  padding: 40px;
}
.intro ul{
  text-align: left;
  margin-top: 20px;
}
