/*Puzzle 1 Styling*/
body{
background:#1cabb0;
font-family:Arial;
}

.quizContainer{
width:60%;
margin:auto;
margin-top:80px;
background:white;
padding:40px;
border-radius:10px;
text-align:center;
}

.answers{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

.answerBTN{
padding:12px;
font-size:16px;
cursor:pointer;
background:#f4f7f0;
border:none;
}

.answerBTN:hover{
background:#d9ecec;
}

#nextBTN{
margin-top:20px;
padding:10px 20px;
background:#1cabb0;
color:white;
border:none;
cursor:pointer;
}