/*Customer Service Module Instructions*/
/*Sian*/
/*Keep these basic and quite plain*/

.instructionContainer{
    width: 60%;
    margin: auto;
    margin-top: 80px;
    background: white;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.instructionContainer h1{
    margin-bottom: 10px;
}

.instructionContainer ul{
    text-align: left;
    margin-top: 20px;
}

.startBTN{
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #1cabb0;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer; /*https://www.w3schools.com/cssref/pr_class_cursor.php*/
}